<app-menubar></app-menubar>
<div class="container">
  <mat-card class="m-3 col-4" style="display: inline-block">
    <mat-card-title>
      Zadzwoń do nas!
    </mat-card-title>
    <mat-card-content>
      <b>123 456 789</b> w Polsce <br />
      <b>+48 123 456 789</b> za granicą <br />
      Połącz się z doradcą naszego banku. Opowiedz nam o swoim problemie a postaramy się go jak najszybciej rozwiązać.
      <img mat-card-image src="../../assets/tel.png" height="70" width="70" />
    </mat-card-content>
  </mat-card>
  <mat-card class="m-3 col-4 " style="display: inline-block">
    <mat-card-title>
      Połącz się online!
    </mat-card-title>
    <mat-card-content>
      <b>6:00 - 22:00</b> w dni robocze <br />
      <b>10:00 - 18:00</b> w weekendy <br />
      Zobacz się z doradcą naszego banku. Rozmowa wideo może być konieczna do zdalnego potwierdzenia tożsamości.
      <img mat-card-image src="../../assets/sluch.jpg" height="70" width="70" />
    </mat-card-content>
  </mat-card>
  <mat-card class="m-3 col-4" style="display: inline-block">
    <mat-card-title>
      Napisz do nas maila!
    </mat-card-title>
    <mat-card-content>
      <b>moj.bank&#64;gmail.com</b><br />
      Opisz nam w mailu swój problem. Postaramy się go jak najszybciej rozwiązać. W przypadku konieczności obcowania z wrażliwymi danymi konieczne będzie potwierdzenie tożsamości. <br />
      <img mat-card-image src="../../assets/koperta.png" height="70" width="70" />
    </mat-card-content>
  </mat-card>
  <mat-card class="m-3 col-4" style="display: inline-block">
    <mat-card-title>
      Wyślij list tradycyjną pocztą!
    </mat-card-title>
    <mat-card-content>
      <b>ul. Łąkowa 1/2<br />
      01-234 Miasto</b><br />
      Na adres głównej siedziby banku można wysyłać listy oraz przesyłki. Przed nadaniem przesyłki warto skontaktować się z Bankiem w inny sposób. <br />
      <img mat-card-image src="../../assets/bank.png" height="70" width="70" />
    </mat-card-content>
  </mat-card>
</div>
