<h2 mat-dialog-title>Potwierdzenie</h2>
<mat-dialog-content>
  <h2>Twój rachunek</h2>
  <p>Z rachunku: Konto w Naszym Banku {{data.bankAccount}}</p>
  <h2>Dane odbiorcy</h2>
  <p>Numer rachunku: {{data.toAccount}}</p>
  <p>Nazwa: {{data.name}}</p>
  <h2>Dane przelewu</h2>
  <p>Kwota: {{data.amount}}</p>
  <p>Tytułem: {{data.title}}</p>
  <div class="text-justify">
    <p class="text-danger text-center">{{errorMessage}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="justify-content:right">
  <button mat-button color="primary" (click)="send()">Wyślij przelew</button>
  <button mat-button mat-dialog-close color="secondary">Powrót</button>
</mat-dialog-actions>
